In [2]:
import pandas as pd
import numpy as np

In [3]:
Q12=pd.read_csv("Q12.csv")
Q12

    data points
0            34
1            36
2            36
3            38
4            38
5            39
6            39
7            40
8            40
9            41
10           41
11           41
12           41
13           42
14           42
15           45
16           49
17           56

In [5]:
mean=Q12.mean()
mean

data points    41.0
dtype: float64

In [6]:
median=Q12.median()
median

data points    40.5
dtype: float64

In [7]:
variance=Q12.var()
variance

data points    25.529412
dtype: float64

In [8]:
standard_deviation=Q12.std()
standard_deviation

data points    5.052664
dtype: float64