In [5]:
from scipy import stats
import pandas as pd
import numpy as np

In [6]:
Q20=pd.read_csv("Cars.csv")
Q20

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [8]:
MPG_G38=1- stats.norm.cdf(38, loc = Q20.MPG.mean(),scale = Q20.MPG.std())
print( 'probability of MPG > 38:', np.round(MPG_G38, 4))

probability of MPG > 38: 0.3476

In [9]:
MPG_L40=stats.norm.cdf(40, loc = Q20.MPG.mean(),scale = Q20.MPG.std())
print( 'probability of MPG < 40:', np.round(MPG_L40, 4))

probability of MPG < 40: 0.7293

In [10]:
MPG_L20=stats.norm.cdf(20, loc = Q20.MPG.mean(),scale = Q20.MPG.std())
MPG_L50=stats.norm.cdf(50, loc = Q20.MPG.mean(),scale = Q20.MPG.std())
L20_MPG_L50= MPG_L50-MPG_L20
print('probability of 20 < MPG < 50:', np.round(L20_MPG_L50, 4))

probability of 20 < MPG < 50: 0.8989