In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
Q21b=pd.read_csv("wc-at.csv")
Q21b

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [3]:
Waist_mean=Q21b.Waist.mean()
Waist_mean

91.90183486238533

In [4]:
AT_mean=Q21b.AT.mean()
AT_mean

101.89403669724771

In [5]:
Waist_median=Q21b.Waist.median()
Waist_median

90.8

In [6]:
AT_median=Q21b.AT.median()
AT_median

96.54